/* Importing Google fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Importing all components file */
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");

/* General style rules for fonts and colours */
body{
	font-family: "georgia", sans-serif;
	font-size: 18px;
	background-color: #E6DAC6;
}
h1 {
	font-family: raleway, sans-serif;
	font-weight: bold;
	text-align: justify;
}


h2, h3 {
	font-family: roboto, sans-serif;
	text-align: justify;
	color: #9D998F;
}

a {
	text-decoration: none;
}

.cadre {
	border: 30px #9D998F;
	padding: 30px;
}

.mic {
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.discover {
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0px;
	trnsition: color 0.2s;
}

.discover:hover {
	color: #8B7973;
}