 .btn-blue {
 	background-color: #4C3228;
 	padding: 10px 15px;
 	border-radius: 3px;
 	color: whitesmoke;
 	font-weight: bold;
 	font-family: raleway, sans-serif;
 	text-align: center;
 }

 .btn-blue:hover {
 	background-color: #D1C0A8;
 }